/*body
{
	background:#e6e6e6;
}*/
body.landing-page {
 width: 100 %;
 height: auto;
}

.logo img
{
	 width: 192px;
    margin-left: 2%;
    position: relative;
    top: 12px;
}
.landing
{
	width:100%;
}
.landing-left
{
	width:35%;
	float:left;
}
.landing-left img {
    width: 100%;
}
.landing-right
{
	width:65%;
	float:left;
}
.landing-right img
{
	width:100%;
}
.landing-right-top
{
	width:100%;
}
.landing-right-bottom
{
	width:100%;
}
.landing-bottom-left img, .landing-bottom-right img
{
	width:45%;
}
.landing-bottom-left {
    float: left;
    width: 46%;
    text-align: right;
    margin-right: 8%;
}
.landing-bottom-right
{
	float:left;
	width:46%;
	text-align:left;
}
.connector {
    position: relative;
    bottom: 109px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.connector img
{
	width: 100%;
}
.landing-right-bottom {
    width: 61%;
    float: right;
}
.landing-bottom-left img, .landing-bottom-right img {
    width: 100%;
}
.connector img {
    width: 38%;
}
.connector {
    position: relative;
    bottom: 290px;
    text-align: center;
}
.landing-right-top img {
    width: 82%;
    margin-bottom: 10%;
    float: right;
}
.landing-bottom-full
{
position: relative;
    bottom: 99px;

}



.landing-btn-animate {
    position: relative;
    top: 200px;
    left: 26%;
    width: 210px;
    height: 210px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
    border-radius: 50%;
    border: 2px dashed #1e2058;
    display: block;
    -moz-transition: spin 15s linear infinite;
    -webkit-transition: spin 15s linear infinite;
    -o-transition: spin 15s linear infinite;
    -ms-transition: spin 15s linear infinite;
}
.landing-btn-animate:hover, .landing-btn-animate1:hover {
    position: relative;
    top: 200px;
    left: 26%;
    width: 210px;
    height: 210px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 0s linear infinite;
    -moz-animation: spin 0s linear infinite;
    animation: spin 0s linear infinite;
    border-radius: 50%;
    border: 2px dashed #1e2058;
    display: block;
}
.landing-btn-animate1 {
   position: relative;
    top: 200px;
    left: 26%;
    width: 210px;
    height: 210px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
    border-radius: 50%;
    border: 2px dashed #1e2058;
    display: block;
}
/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg) scale(1);} }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg) scale(1);} }
@keyframes spin { 100% { -webkit-transform: rotate(360deg) transform:rotate(360deg) scale(1);} }*/


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.connector {
    position: relative;
    bottom: 298px;
    text-align: center;
}
.landing-right-top {
    width: 100%;
    position: relative;
    top: 85px;
}
.landing {
    width: 90%;
    margin: auto;
}

/* css for borrower page */

.banner {
    background: #e6e6e6;
    overflow: hidden;
}
.menu-right
{
    position: relative;
    top: 30px;
}
.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #1b2a65;
    background-color: transparent;
}
.menu-right
{
    float:right;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-right ul li a
{
     color: #fff;
}
.signin a, .signin a:hover
{
    background: #255388   !important;
    color: #fff  !important;margin-right: 11px;margin-bottom: 15px;text-align:center;
}
.login a, .login a:hover
{
    background: #f18641  !important;
    color: #fff !important;margin-bottom: 15px;text-align:center;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-left: 38px;
}
.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
}
.bannr-left
{
    width:50%;
    float:left;
}
.bannr-right
{
    width:50%;
    float:left;
    color:#255388;
}
.bannr-right label
{
	color:#255388;
}
.ranger-slider
{
    width:100%;
}
select#select-loan-type
{
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    border-radius: 8px;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #255388   !important;
    color: #333333;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
   { border: 0px solid #f18641 !important;
    background: #f18641 !important;
    font-weight: normal;
    color: #2b2b2b;
}
input#amount1, input#edu-amount, input#bus-amount
{
    color: #fff;
    font-weight: bold;
    width: 100%;
    background: transparent;
    float: right;
    background: url(../images/time.png) no-repeat 4px 8px;
    width: 104px !important;
    text-align: center;
    padding: 4px 0px;
    position: relative;
    bottom: 37px;
    left: 30px;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-size: 86px;
    height: 39px;

}
input#amount, input#edu-amount, input#edu-time, input#bus-amt, input#bus-time
{
    color: #fff;
    font-weight: bold;
    width: 100%;
    background: transparent;
    float: right;
    background: url(../images/time.png) no-repeat 4px 8px;
    width: 104px !important;
    text-align: center;
    padding: 4px 0px;
    position: relative;
    bottom: 37px;
    left: 30px;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-size: 86px;
    height: 39px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    height: 30px;
    border-radius: 12px;
}
#slider-range-min span, #slider-range-min1 span, #eduamt-range-min span, #edutime-range-min span, #busamt-range-min span, #bustime-range-min span {
    height: 120%;
    width: 50px;
    background: url(../images/scroll.png) 4px 0px no-repeat !important;
    background-size: 37px !important;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
    /* border-radius: 12px; */
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #fff !important;
    color: #333333;
    font-weight: bold;
}
@media only screen and (min-width:320px) and (max-width: 767px)
{
    .navbar-inverse .navbar-toggle {
        border-color: #333;
        background: #333;
    }
    .menu-right {
        float: none;
    }
    .navbar-right {
        float: left !important;
        margin-right: 0px;
        margin-left: 0px;
    }
}
.navbar-brand
{
    padding-top: 2px;
}
.navbar-brand > img {
    display: block;
    width: 195px;
}
form {
    width: 68%;
    margin: auto;
    position: relative;
    left: 10px;
    top: 15px;
    font-size: 14px;
}

.borrow-form {
    width: 70%;
    background: url(../images/borrower.png) no-repeat;
    background-size: 453px;
    height: 453px;
    position: relative;
    top: 20px;
}
.bannr-right label {
    color: #255388;
    font-size: 15px;
    margin: 0px 0px;
}
input[type="submit"] {
    background: transparent;
    border: 0px solid #c0c0c0;
    padding: 5px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    margin-top: 0px;
    background-image: url(../images/get-cash.png);
    position: relative;
    top: 0px;
    left: 60px;
    width: 168px;
    height: 161px;
    background-size: 164px;
    text-indent: -9999px;
}
.min-max-full
{
	width:100%;
	float:left;
}
.min-max
{
	width:80%;

}
.min-left
{
	width:10%;
	float:left;
}
.max-right
{
	width:10%;
	float:left;
}
.connector {
    position: relative;
    bottom: 298px;
    text-align: center;
    width: 38%;
    margin: auto;
}
.connector img {
    width: 100%;
}
.landing-bottom-left img, .landing-bottom-right img {
    width: 100%;
    border: 2px dashed #255388;
    border-radius: 50%;
}

.landing-right-top {
    width: 100%;
    position: static;
    top: 0px;
    overflow: hidden;
}
.landing-right-top img {
    width: 82%;
    margin-bottom: 0px;
    float: right;
}
.landing-bottom-full {
    position: relative;
    bottom: 0px;
}
.connector {
    position: relative;
    bottom: 112px;
    text-align: center;
    width: 25%;
    margin: auto;
    right: 27%;
}
.landing-right-top img {
    width: 82%;
    margin-bottom: 43px;
    float: right;
}
.connector img {
    width: 100%;
}

